page-checklist {
  .btn
  {
    position:absolute;
    top:100%;
    right:40%;
  }
  .btn1
  {
    position: absolute;
    top:100%;
    right: 10%;
  }
  @media (min-width:1025px)and (max-width:1281px)
  {
    .btn
    {
      position:absolute;
      top:100%;
      right:40%;
    }
    .btn1
    {
      position: absolute;
      top:100%;
      right: 58%;
    }
  }
}
