page-signup {
  h3
  {
    font-size:200%;
  }
  .headr
  {

    font-size:150%;
  }
  .inputField
  {
    width:92%;
    height:80%;
  }
  .btn
  {
    position:absolute;
    top:70%;
    right:38%;
  }
  .formField
  {
    top:30%;
    width:100%;
    height:100%;
    background-color:LightGray;
  }
}
