page-signup {
  h3
  {
    font-size:200%;
  }
  .headr
  {

    font-size:150%;
  }
  .inputField
  {
    width:92%;
    height:80%;
  }
  .btn
  {
    position:absolute;
    top:70%;
    right:38%;
  }
  .formField
  {
    top:30%;
    width:100%;
    height:100%;
    background-color:LightGray;
  }
  @media (min-width:1025px)and (max-width:1281px)
  {
    .btn
    {
      position:absolute;
      top:70%;
      right:47%;
    }
    .inputField
    {
      width:98%;
      height:80%;
    }
  }
}
